.slider {
  display: flex;
  margin-top: 10px;
}

.image {
  width: 100vw;
  height: 400px;
}

.backArrow {
  position: absolute;
  top: 35%;
  left: 50px;
  color: black;
  font-size: 3rem;
}

.backArrow1 {
  position: absolute;
  top: 35%;
  left: 56px;
  color: white;
  font-size: 3rem;
}

.forwardArrow {
  position: absolute;
  top: 35%;
  right: 50px;
  color: black;
  font-size: 3rem;
}
.forwardArrow1 {
  position: absolute;
  top: 35%;
  right: 56px;
  color: white;
  font-size: 3rem;
}
